<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="tvseries.koreandramaengsub.freemovieapp"
    tools:ignore="MissingLeanbackLauncher">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <permission
        android:name="${applicationId}.mobiamo.PAYMENT_BROADCAST_PERMISSION"
        android:label="Request for sending mobiamobroadcast to Mobiamo"
        android:protectionLevel="signature" />

    <uses-permission android:name="${applicationId}.mobiamo.PAYMENT_BROADCAST_PERMISSION" />

    <uses-permission android:name="org.simalliance.openmobileapi.SMARTCARD" />

    <application
        android:name="tvseries.koreandramaengsub.freemovieapp.utils.MyAppClass"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name="tvseries.koreandramaengsub.freemovieapp.SplashScreenActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="tvseries.koreandramaengsub.freemovieapp.RazorPayActivity" />
        <activity android:name="tvseries.koreandramaengsub.freemovieapp.SearchActivity" />
        <activity android:name="tvseries.koreandramaengsub.freemovieapp.FirebaseSignUpActivity" />
        <activity android:name="tvseries.koreandramaengsub.freemovieapp.EventPaymentStripeActivity" />


        <uses-library
            android:name="org.simalliance.openmobileapi"
            android:required="false" />

        <activity
            android:name="com.paymentwall.pwunifiedsdk.core.PaymentSelectionActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:theme="@style/PaymentwallSDKTheme"
            android:windowSoftInputMode="stateVisible|adjustResize|adjustPan" />

        <!-- Mobiamo -->
        <receiver
            android:name="com.paymentwall.pwunifiedsdk.mobiamo.core.MobiamoBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.paymentwall.mobiamosdk.SENT_SMS_ACTION"></action>
            </intent-filter>
        </receiver>

        <activity
            android:name="com.paymentwall.pwunifiedsdk.mobiamo.core.MobiamoDialogActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity
            android:name="com.paymentwall.sdk.pwlocal.ui.PwLocalActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent" />

        <activity
            android:name="tvseries.koreandramaengsub.freemovieapp.PapalPaymentActivity"
            android:theme="@style/AppTheme.Nobar" />
        <activity android:name="tvseries.koreandramaengsub.freemovieapp.WebViewActivity" />
        <meta-data android:name="applovin.sdk.key" android:value="0U7Q5TtTDivJkfFONFCVROICZ7D1Mz-Eylr3fUouuOyKixCMxOubqIwJWmcd1LpwPTXa6z_oAtCAFQsDOpzcT7"/>
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/admob_application_id" />
        <meta-data
            android:name="com.onesignal.NotificationOpened.DEFAULT"
            android:value="DISABLE" />
        <meta-data
            android:name="com.google.android.gms.cast.framework.OPTIONS_PROVIDER_CLASS_NAME"
            android:value="com.google.android.exoplayer2.ext.cast.DefaultCastOptionsProvider" /> <!-- facebook -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"
            tools:replace="android:value" />

        <!--razorpay metadata-->
       <!-- <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="rzp_live_eHkQKgddhVS9ub"/>-->

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity> <!-- facebook end -->
        <activity
            android:name="tvseries.koreandramaengsub.freemovieapp.TermsActivity"
            android:screenOrientation="fullSensor"
            android:theme="@style/AppTheme.Nobar" />
        <activity
            android:name="tvseries.koreandramaengsub.freemovieapp.ReplyActivity"
            android:label="@string/title_activity_reply"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity
            android:name="tvseries.koreandramaengsub.freemovieapp.ProfileActivity"
            android:theme="@style/AppTheme.Nobar"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity
            android:name="tvseries.koreandramaengsub.freemovieapp.PassResetActivity"
            android:theme="@style/AppTheme.Nobar"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity
            android:name="tvseries.koreandramaengsub.freemovieapp.SearchResultActivity"
            android:theme="@style/AppTheme.Nobar"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity
            android:name="tvseries.koreandramaengsub.freemovieapp.SignUpActivity"
            android:theme="@style/AppTheme.Nobar"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity
            android:name="tvseries.koreandramaengsub.freemovieapp.LoginActivity"
            android:theme="@style/AppTheme.Nobar"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity
            android:name="tvseries.koreandramaengsub.freemovieapp.DetailsActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_details"
            android:theme="@style/AppTheme.NoActionBar" /> <!-- android:configChanges="screenLayout|screenSize|orientation" -->
        <activity
            android:name="tvseries.koreandramaengsub.freemovieapp.MainActivity"
            android:theme="@style/AppTheme.Nobar"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity
            android:name="tvseries.koreandramaengsub.freemovieapp.SettingsActivity"
            android:theme="@style/AppTheme.Nobar"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize"/>

        <activity
            android:name="tvseries.koreandramaengsub.freemovieapp.ItemMovieActivity"
            android:label="@string/title_activity_item_show"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity
            android:name="tvseries.koreandramaengsub.freemovieapp.ItemTVActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppTheme.Nobar" />
        <activity
            android:name="tvseries.koreandramaengsub.freemovieapp.ItemSeriesActivity"
            android:theme="@style/AppTheme.Nobar"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity
            android:name="tvseries.koreandramaengsub.freemovieapp.SubscriptionActivity"
            android:theme="@style/AppTheme.Nobar"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity
            android:name="tvseries.koreandramaengsub.freemovieapp.StripePaymentActivity"
            android:theme="@style/AppTheme.Nobar"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity
            android:name="tvseries.koreandramaengsub.freemovieapp.PurchasePlanActivity"
            android:theme="@style/AppTheme.Nobar"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity
            android:name="tvseries.koreandramaengsub.freemovieapp.DownloadActivity"
            android:theme="@style/AppTheme.Nobar"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize"/> <!-- StartApp activities integration -->
    </application>

</manifest>